.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(../img/shoot1.png);
  width: 100%;
  height: 500px;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(../img/shoot3.png);
  width: 100%;
  height: 500px;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(../img/shoot2.png);
  width: 100%;
  height: 500px;
}

.content img {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
